<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="SC.Events.Events.RemoteEvent.RemoteEventInitialization,SC.Events" method="Initialize" />
      </initialize>
    </pipelines>
    <events>
      <event name="item:localevent:remote">
        <handler type="SC.Events.Events.RemoteEvent.RemoteEventHandler,SC.Events" method="OnRemoteEvent"/>
      </event>
    </events>
  </sitecore>
</configuration>